
.topHalf{background-color: rgb(165, 178, 190);
 font-family: sans-serif;
 padding-top: 5px;
 padding-left: 5px;
 }

 .blackjack{
    margin-bottom: 25px;
    font-size: 40px;
    font-weight: bolder;
    padding: 25px;
    padding-right: 200px;
 }

 .link1{
    padding: 30px;
    font-size: large;
 }

 .link2{
    padding:30px;
    font-size: large;
 }

 .link3{
    padding:30px;
    font-size: large;
 }

 .headerLinks{
    padding-bottom: 300px;
    margin-bottom: 100px;
    border-bottom: 100px;
 }




 .stockPic{
    width: 700px;
    position: relative;
    top: 20px;
    right: 65px;
    margin: 5px;
    
 }
 
 .pictures{margin: 10px; text-align: left;}
 .ol{color:rgb(34, 33, 33);
     padding-left: 5px;
     }
 p{font-size: 18px;}

 
 
 .class{overflow:auto;}
 #testButton{margin: 5px;}
 #testButton{border: 6px ridge ;}
 #middle{
     font-family: serif;
 }
 #wolfQuote{
     background-color: gainsboro;
     
 }
 .wolfPic{
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 600px;
     padding-top: 10px;
     padding-bottom: 10px;
 }
