
.topHalf{background-color: rgb(165, 178, 190);
 font-family: sans-serif;
 padding-top: 5px;
 padding-left: 5px;
 padding-right: 500;
 }


/* .tradingplan {
    width:700px;
    position:relative;
    left: 900px;
    top: 200px;
 }*/

 .stockPic{
    width: 700px;
    position: relative;
    top: 20px;
    right: 65px;
    margin: 5px;
    
 }
 
 .pictures{margin: 10px; text-align: left;}
 .ol{color:rgb(34, 33, 33);
     padding-left: 5px;
     }
 p{font-size: 18px;}

 .link1{
     position: absolute;
     top: 20px;
     left: 325px;
     z-index: 1;
 }
 .link2{
     position: absolute;
     top: 20px;
     left: 400px;
     z-index: 2;
 }
 
 .link3{
     position:absolute;
     top: 20px;
     left: 475px;
     z-index: 3;

 }
 
 .class{overflow:auto;}
 #testButton{margin: 5px;}
 #testButton{border: 6px ridge ;}
 #middle{
     font-family: serif;
 }
 #wolfQuote{
     background-color: gainsboro;
     
 }
 .wolfPic{
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 600px;
     padding-top: 10px;
     padding-bottom: 10px;
 }
